<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ForexPlatformFrontEnd.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ForexPlatformFrontEnd.Properties.Settings>
            <setting name="DeveloperMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SingleInstanceMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultMT4IntegrationAddress" serializeAs="String">
                <value>net.tcp://localhost:13123/TradingAPI</value>
            </setting>
            <setting name="PlatformUriAddress" serializeAs="String">
                <value>net.tcp://localhost:17992/Platform/</value>
            </setting>
            <setting name="DataStoreOnlineSourcesXml" serializeAs="String">
                <value>http://www.openforexplatform.com/app/onlinedatasources.xml</value>
            </setting>
            <setting name="TraceLogFile" serializeAs="String">
                <value>..\Output.Logs\Platform\ForexPlatform.FrontEnd.{DateTime}.log</value>
            </setting>
            <setting name="FilesFolder" serializeAs="String">
                <value>..\Files</value>
            </setting>
            <setting name="ExpertsFolder" serializeAs="String">
                <value>..\Files.Data\Experts</value>
            </setting>
            <setting name="PlatformDBPath" serializeAs="String">
                <value>..\Files.Data\platform.s3db</value>
            </setting>
            <setting name="DataStoreDBPath" serializeAs="String">
                <value>..\Files.Data\datastore.s3db</value>
            </setting>
            <setting name="EventsDBPath" serializeAs="String">
                <value>..\Files.Data\events.s3db</value>
            </setting>
            <setting name="DataStoreFolder" serializeAs="String">
                <value>..\Files.Data\DataStore</value>
            </setting>
            <setting name="OptionalModules" serializeAs="String">
                <value>MT4Adapter.dll
MBTradingAdapter.dll
FXCMAdapter.dll</value>
            </setting>
            <setting name="AllowPerformanceCounters" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultRSSFeeds" serializeAs="String">
                <value>http://www.forbes.com/business/index.xml
http://www.forbes.com/markets/index.xml
http://rss.businessweek.com/bw_rss/bwdaily
http://rss.businessweek.com/bw_rss/bwdaily
http://rss.businessweek.com/bw_rss/asiaindex
http://rss.businessweek.com/bw_rss/europeindex
http://rss.businessweek.com/bw_rss/investor
http://rss.cnn.com/rss/money_news_economy.rss
http://finance.yahoo.com/rss/CreditServices
http://feeds.reuters.com/reuters/businessNews?format=xml
http://feeds.marketwatch.com/marketwatch/bulletins?format=xml
http://feeds.marketwatch.com/marketwatch/realtimeheadlines/
http://news.google.com/?ned=us&amp;topic=b&amp;output=rss
http://www.federalreserve.gov/feeds/press_all.xml
http://www.telegraph.co.uk/finance/rss</value>
            </setting>
            <setting name="ExternalModules" serializeAs="String">
                <value>..\Output.Modules\HedgeExpertModule.dll
..\Output.Modules\IntegralAdapter.dll
..\Output.Modules\Experts.dll
..\Output.Modules\MTAS.dll
..\Output.Modules\DukasCopyAdapter.dll
..\Output.Modules\OFxP.SuperPoolIntegration.dll
..\Output.Modules\CommonFIX.dll
..\Output.Modules\MT4OrderDuplication.dll</value>
            </setting>
        </ForexPlatformFrontEnd.Properties.Settings>
    </userSettings>
    <system.data>
      <DbProviderFactories>
        <remove invariant="System.Data.SQLite"/>
        <add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".Net Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>
      </DbProviderFactories>
    </system.data>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/></startup></configuration>
